---
// [The Open Graph protocol](https://ogp.me)

import BaseHead from '../components/BaseHead.astro';
import CookieConsent from '../components/CookieConsent.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import LoremIpsum from '../components/LoremIpsum.astro';
import {
    SITE_LANGUAGE,
    SITE_TITLE,
    SITE_DESCRIPTION,
    SITE_AUTHOR,
    TWITTER_ACCOUNT
} from '../consts';
---

<!doctype html>
<html lang={SITE_LANGUAGE}
      prefix="og: http://ogp.me/ns#">
    <head>
	<BaseHead
            language={SITE_LANGUAGE}
            title={SITE_TITLE}
            description={SITE_DESCRIPTION}
            author={SITE_AUTHOR}
	    twitter_account={TWITTER_ACCOUNT}
        />

    </head>
    <body>
	{/* <CookieConsent /> */}
        <div class="sr-only">
            <a href="#content">Skip to main content</a>
        </div>
	<Header />
	<main id="content">
	    <LoremIpsum number_of_paragraphs={1} />
	</main>
	<Footer />
    </body>
</html>
